################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/CadastroCliente/config
/.vs/CadastroCliente/DesignTimeBuild/.dtbcache.v2
/.vs/CadastroCliente/FileContentIndex
/.vs/CadastroCliente/v17/TestStore/0
/.vs/CadastroCliente/v17/.futdcache.v2
/.vs/CadastroCliente/v17/.suo
/.vs/CadastroCliente/v17/.wsuo
/.vs/ProjectEvaluation
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/bin/.vs
/obj
/.gitattributes
